#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA1
##  Validate the following thermistor type to make sure it is correct
##  Keenovo branded bed heaters should use Generic 3950
##  LDO branded bed heaters will have the sensor type labelled on the heater
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950 
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120

##Stock Setting
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

##PID Tune 110
#control: pid
#pid_kp: 40.675
#pid_ki: 1.184
#pid_kd: 349.299

##PID Tune 110 w/ Nevermore
control: pid
pid_kp: 40.835
pid_ki: 0.979
pid_kd: 425.704

[verify_heater heater_bed]
check_gain_time: 90